body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

.welcome-section h1 {
    font-size: 1.9em;
    font-weight: bold;
    margin-bottom: 70px;
    color: #6a1b9a;
    
}

.action-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
    justify-content: center;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    width: calc(33% - 30px);
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.card p {
    font-size: 1.3em;
    font-weight: 600;
    color: #6a1b9a;
}

.transactions-section h2
 { font-size: 1.8em; 
    font-weight: bold; 
    margin-bottom: 30px;
     color: #6a1b9a; } 
     
 .transactions-table { width: 100%;
         border-collapse: collapse;
          margin-bottom: 50px;
           font-size: 0.9em; /* Smaller font size */ } 
           
.transactions-table th, 

.transactions-table td 
{ padding: 10px; /* Smaller padding */
 text-align: left;
 border-bottom: 1px solid #ddd; } 
 
 .transactions-table th { background-color: #f3f3f3; font-size: 1em; font-weight: bold; }

.action-btn {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 40px;
    margin-right: 60px;
}

.action-btn:hover {
    transform: translateY(-2px);
}

.view-btn {
    background-color: #6a1b9a;
    color: #fff;
}

.view-btn:hover {
    background-color: #4a148c;
}

.verify-btn {
    background-color: #9575cd;
    color: #fff;
}

.verify-btn:hover {
    background-color: #7e57c2;
}

.submit-btn {
    background-color: #5e35b1;
    color: #fff;
}

.submit-btn:hover {
    background-color: #4527a0;
}
